MobysDick/lib/VehicleFramework.dll filter=lfs diff=lfs merge=lfs -text
resources/MobysDick/assets/mobysdick filter=lfs diff=lfs merge=lfs -text
resources/MobysDick/assets/mobysdick.manifest filter=lfs diff=lfs merge=lfs -text
